<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="icon" href="/public/logo.jpeg">
    <link rel="stylesheet" href="/public/highlight/styles/atom-one-dark-reasonable.css">
    <script src="/public/meteor.js"></script>
    <script src="/public/highlight/highlight.min.js"></script>
    <script src="/public/font.js"></script>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<%- include('components/header') %>
<main>
    <div style="width: 100%">
        <div style="display: flex; justify-content: space-between; align-items: center">
            <h1><%= post.fileName %></h1>
            <a href="/" style="color: #ccc">返回首页</a>
        </div>
        <div><%- post.htmlContent %></div>
    </div>
</main>
<%- include('components/footer') %>
<script src="/public/start.js"></script>
</body>
</html>
